    <%- include ('../parcial/header.ejs') ;%>


    <header>

        <nav class="menuPrincipal">
            <ul>
                <li><a href="/">Menu</a></li>
                <li><a href="/america/americaAmericaDoSulMenu">Voltar</a></li>

            </ul>

        </nav>

    </header>

    <div id="corpo">

        <%= titulo %>

        <div class="PatanalClima">
            <img src="/clima-do-pantanal.jpg" alt="Pantanal Clima">
        </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>