    <%- include ('../parcial/header.ejs') ;%>


    <header>

        <nav class="menuPrincipal">
            <ul>
                <li><a href="/">Menu</a></li>
                <li><a href="/america/americaAmericaDoSulMenu">Voltar</a></li>
                <li><a href="/americaDoSul/pantanalHidrografia">Hidrografia</a></li>
                <li><a href="/americaDoSul/PantanalClima">Clima</a></li>
                <li><a href="">Fauna</a></li>
                <li><a href="">Flora</a></li>
                <li><a href="">Desmatamento</a></li>

            </ul>

        </nav>

    </header>

    <div id="corpo">

        <%= titulo %>

        <div class="americaDoSul">
            <img src="/pantanalMapa.jpg" alt="Pantanal">
        </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>