    <%- include ('../parcial/header.ejs') ;%>


    <header>

        <nav class="menuPrincipal">
            <ul>
                <li><a href="/">Menu</a></li>
                <li><a href="/america/americaMenu">Voltar</a></li>
                <li><a href="#">Patagônia</a></li>
                <li><a href="">Cordilheira Dos Andes</a></li>
                <li><a href="">Cartagena-Colômbia</a></li>
                <li><a href="/americaDoSul/pantanalMenu">Pantanal</a></li>
                <li><a href="">Vulcão Quilotoa-Equador</a></li>

            </ul>

        </nav>

    </header>

    <div id="corpo">

        <%= titulo %>

        <div class="americaDoSul">
            <img src="/americaDoSul.svg" alt="América do Sul">
        </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>