    <%- include ('../parcial/header.ejs') ;%>

    <header>

        <nav class="menuPrincipal">
            <ul>
                <li><a href="/">Voltar</a></li>
                <li><a href="/america/americaAmericaDoNorteMenu">América do Norte</a></li>
                <li><a href="#">América Central</a></li>
                <li><a href="/america/americaAmericaDoSulMenu">América do Sul</a></li>
                <li><a href="#">Equador</a></li>
                <li><a href="#">Inferiores</a></li>

            </ul>

        </nav>


    </header>

    <div id="corpo">

        <%= titulo %>

        <div class="americas">
            <img src="/americas.jpg" alt="Américas">
        </div>


    </div>

    <%- include ('../parcial/footer.ejs') ;%>