    <%- include ('parcial/header.ejs') ;%>

    <header>

        <nav class="menuPrincipal">
            <ul>
                <li><a href="/america/americaMenu">América</a></li>
                <li><a href="#">Ásia</a></li>
                <li><a href="#">Oceania</a></li>
                <li><a href="#">Antártica</a></li>
                <li><a href="#">Europa</a></li>

            </ul>

        </nav>

        


    </header>

    <div id="corpo">

        <%= titulo %>

        <div class="mapaMundo">
            <img src="/mapaMundo.jpg" alt="Mapa Mundo">
        </div>


    </div>

    <%- include ('parcial/footer.ejs') ;%>